<a href="https://colab.research.google.com/github/tomioka52q/univercity/blob/main/Tasks/%22%D0%94%D0%BE%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%E2%84%962_1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [9]:
numbers = ['1', '2', '3', '4', '5']
cube = map(lambda x: int(x) ** 3, numbers)
print(list(cube))

[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [10]:
words = ['level', 'python', 'radar', 'world', 'rotor']
ans = filter(lambda x: x[-1] == x[0], words)
print(list(ans))

['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [11]:
from functools import *
numbers = [47, 11, 42, 102, 13]
max = reduce(lambda x, y: x if x > y else y, numbers)
print(max)

102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [12]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
squard = map(lambda x: int(x) ** 2, list1)
cube = map(lambda x: int(x) ** 3, list2)
combined = zip(squard, cube)
print(list(combined))

[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [13]:
from functools import *
numbers = '1,2,3,4,5,6,7,8,9,10'
number = list(map(int, numbers.split(',')))
even = filter(lambda x: x % 2 == 0, number)
sum = reduce(lambda x, y: x + y, even)
print(sum)

30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [14]:
celsius = [0, 15, 30, 100]
Fahrenheit = map(lambda x: x * 9 / 5 + 32, celsius)
print(list(Fahrenheit))

[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [18]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
not_even = filter(lambda x: x % 2 != 0, numbers)
squard = map(lambda x: int(x) ** 2, not_even)
print(list(squard))

[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [20]:
from functools import *
numbers = [1, 2, 3, 4, 5]
multi = reduce(lambda x, y: x * y, numbers)
print(multi)

120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [26]:
strings = ['10', '20', 'abc', '30', 'def']
ans = map(lambda x: int(x) if x.isdigit() else 0, strings)
print(list(ans))

[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [28]:
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]
combined = zip(x_coords, y_coords)
print(list(combined))

[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [29]:
words = ['apple', 'banana', 'cherry']
dictionary = dict(map(lambda x: (x, len(x)), words))
print(dictionary)

{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [34]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
def simple(n):
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True
simple_n = filter(lambda x: simple(x), numbers)
print(list(simple_n))

[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [37]:
from functools import *
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]
combined = map(lambda x: x[0] + x[1] + x[2], zip(list1, list2, list3))
print(list(combined))

[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [48]:
from functools import *
text = 'Functional programming with lambda functions'
def count(counts, char):
  char_lower = char.lower()
  counts[char_lower] = counts.get(char_lower, 0) + 1
  return counts
char_count = reduce(count, text, {})
max = reduce(lambda x, y: x if x[1] > y[1] else y, char_count.items())
print("Количество каждого символа:", char_count)
print("Самый часто встречаемый символ:", max)

Количество каждого символа: {'f': 2, 'u': 2, 'n': 5, 'c': 2, 't': 3, 'i': 4, 'o': 3, 'a': 4, 'l': 2, ' ': 4, 'p': 1, 'r': 2, 'g': 2, 'm': 3, 'w': 1, 'h': 1, 'b': 1, 'd': 1, 's': 1}
Самый часто встречаемый символ: ('n', 5)

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [52]:
from functools import *
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

glas = 'aeiouy'
def count(word):
  k = 0
  for letter in word:
    if letter in glas:
      k+=1
  return k
glas_word = map(lambda x: count(x), words)
sum = reduce(lambda x, y: x + y, glas_word)
print(sum)

13

---